<% content_for :application_views do %>
  <%= raw application_view_links.join("/") if respond_to? :application_view_links %>
<% end %>

<div id="content">
  <div class="index">
  <div class="container">

  <table class="table">
    <h1><%= @translation_key.key || _("New translation") %></h1>
    <%= form_for @translation_key do |f| %>
      <tr>
        <td>
          <%# f.label :key %>
        </td>
        <td>
          <%# f.text_area :key, :size=>'80x4' %>
        </td>
      </tr>
      <%= f.fields_for :translations do |tf| %>
      <tr>
        <td>    
          <%= tf.label :text, tf.object.locale %>
        </td>
        <td>
          <% if current_user_account.accessible_locales_as_array.include? tf.object.locale.to_s %>
            <%= tf.text_area :text, :size=>'80x2' %>
          <% else %>
            <%= tf.object.text.present? ? tf.object.text : _("Not yet translated") %>
          <% end %>
        </td>
      </tr>
      <%= tf.hidden_field :locale if tf.object.new_record? %>     
      <% end %>   
      <tr>
        <td colspan="10">
          <% topic = @translation_key.new_record? ? _("Create") : _("Save") %>
          <%= f.submit(topic) %>
          <%= link_to _('Back to overview'), translation_keys_path %>
        </td>
      </tr>
    <% end %>
  </table>

  </div>
  </div>
</div>
