<% content_for :application_views do %>
  <%= raw application_view_links.join("/") if respond_to? :application_view_links %>
<% end %>

<div id="content">
  <div class="index">
  <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th><%= _("Key") %></th>
        <% @locales.each do |locale| %>
          <% next unless current_user_account.accessible_locales_as_array.include? locale.to_s %>
          <th><%= locale %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @translation_keys.each do |key| %>
        <tr class="<%= cycle "even","odd"%>">
          <td><%= key.key %></td>
          <% @locales.each do |locale| %>
            <% 
               next unless current_user_account.accessible_locales_as_array.include? locale.to_s
               translation = key.translations.detect {|t| t.locale == locale.to_s} 
            %>
            <td><%= translation.text if translation %></td>
          <% end %>
          <td>           
            <% if can? :destroy, key %>
              <%= remove_translation_key_link key %>
            <% end %>
            <%= link_to _("Edit"), key %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="10">
          <%= link_to _("New"), send("new_"+url_singular_postfix) %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>


